
OdeToFood/.vs/*
OdeToFood/OdeToFood.Core/bin/*
OdeToFood/OdeToFood.Core/obj/*
OdeToFood/OdeToFood.Data/bin/*
OdeToFood/OdeToFood.Data/obj/*
OdeToFood/OdeToFood/bin/*
OdeToFood/OdeToFood/obj/*
OdeToFood/OdeToFood/node_modules/*
